<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plotting_FE"
        tools:targetApi="31">

        <activity
            android:name=".plogging.ui.PloggingDetailActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"/>

        <activity
            android:name=".mypage.ui.EditProfileActivity"
            android:exported="false" />

        <!-- 처음 시작화면을 PloggingMapActivity로 설정 -->
        <activity
            android:name=".plogging.ui.PloggingMapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Theme.Plotting_FE.Splash"
            android:exported="true" />

        <activity
            android:name=".user.ui.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".user.ui.JoinActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 플로깅 모임 생성 액티비티1 -->
        <activity
            android:name=".plogging.ui.PloggingMakeActivity1"
            android:exported="true" />

        <!-- 플로깅 모임 생성 액티비티2 -->
        <activity
            android:name=".plogging.ui.PloggingMakeActivity2"
            android:exported="true" />

        <!-- 플로깅 검색 액티비티 -->
        <activity
            android:name=".plogging.ui.GetPloggings"
            android:exported="true" />

        <!-- 플로깅 필터 액티비티 -->
        <activity
            android:name=".plogging.ui.PloggingFilter"
            android:exported="true" />

        <!-- 네이버 지도 API 클라이언트 ID 설정 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="ixpavqfivc" />
    </application>
</manifest>
